.search-autocomplete {
  margin: 0 auto;
  max-width: 500px;
  padding: 10px 15px;
  border: 1px solid #efefef;
  .search-field {
    input {
      padding: 5px 10px;
      border: 1px solid #efefef;
      width: 100%;
      font-size: inherit;
    }
    margin-bottom: 10px;
  }
  .data-row {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
  }
}